.git
.github
node_modules
**/node_modules
dist
**/dist
.npm-cache
**/.npm-cache
**/*.tsbuildinfo
coverage
tests
docs
product
deploy/organization-authority/data
.env
.env.*
**/.env
**/.env.*
*.tgz
**/*.tgz
*.log
**/*.log
